{% extends 'graph.html' %}

{% block title %}
{% endblock title %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <b>Global FDI</b>
                </div>
                <div class="card-body">
                    <div id="fig18">
                        {{ graph_div18 | safe }}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- Add graph script -->
<script type="text/javascript">
    {{ graph_script18 | safe }}
</script>
{% endblock body %}

