{% extends 'graph.html' %}

{% block title %}
{% endblock title %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>Global GDP</b>
                </div>
                <div class="card-body">
                    <div id="fig19">
                        {{ graph_div19 | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Choropleths -->
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>Choropleth: 1990</b>
                </div>
                <div class="card-body">
                    {{ graph_div1990 | safe }}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>Choropleth: 2000</b>
                </div>
                <div class="card-body">
                    {{ graph_div2000 | safe }}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>Choropleth: 2010</b>
                </div>
                <div class="card-body">
                    {{ graph_div2010 | safe }}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>Choropleth: 2021</b>
                </div>
                <div class="card-body">
                    {{ graph_div2021 | safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>GDP Per Capita - Current USD</b>
                </div>
                <div class="card-body">
                    <div id="fig19">
                        {{ graph_div191 | safe }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>Choropleth: 1990 (Per Capita)</b>
                </div>
                <div class="card-body">
                    <div id="fig19">
                        {{ graph_div1990_pcap | safe }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>Choropleth: 2000 (Per Capita)</b>
                </div>
                <div class="card-body">
                    {{ graph_div2000_pcap | safe }}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>Choropleth: 2010 (Per Capita)</b>
                </div>
                <div class="card-body">
                    {{ graph_div2010_pcap | safe }}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>Choropleth: 2021 (Per Capita)</b>
                </div>
                <div class="card-body">
                    {{ graph_div2021_pcap | safe }}
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Add graph scripts -->
<script type="text/javascript">
    {{ graph_script19 | safe }}
    {{ graph_script1990 | safe }}
    {{ graph_script2000 | safe }}
    {{ graph_script2010 | safe }}
    {{ graph_script2021 | safe }}
    {{ graph_script1990_pcap | safe }}
    {{ graph_script2000_pcap | safe }}
    {{ graph_script2010_pcap | safe }}
    {{ graph_script2021_pcap | safe }}
</script>
{% endblock body %}